@font-face {
  font-family: '≤”∂Í≈È';
  src: local("≤”∂Í≈È.ttc");
}
@font-face {
  font-family: ø˚µß≈ÈW2;
  src: local("./ø˚µß≈ÈW2.ttc");
}

html, body {
	font-family: 'Buenard', serif;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	height: 96%;
}
#whole_content {
	height: 100%;
}
#toolbar {
	background-color: #333333;
	height: 60px;
	border-bottom: 3px solid #000000;
}
#toolbar div {
	padding: 20px;	
}
#toolbar div span {
	text-shadow: 2px 2px #cccccc;
	font-weight: bold;
	background-color: #f2f2f2;
	width: 100px;
	padding-left: 5px;
	padding-right:5px;
	padding-top: 15px;
	padding-bottom: 15px; 	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	cursor: pointer;
	margin-right: 3px;
}

#toolbar_setup_panel {
	background-color: #444444;
	height: 65px;
	border-bottom: 3px solid #000000;
}
#toolbar_setup_panel div {
	padding: 2px;	
}

#toolbar_setup_panel div span {
	font-size: 10px;
	text-shadow: 2px 2px #cccccc;
	font-weight: bold;
	width: 100px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right: 3px;
}

#close_toolbar_setup_panel {
	float: right;
	position: relative;
	top: -20px;	
}

#albums {
	float: left;
	width: 250px;
	height: 100%;
	background-color: #111111;	
	border-right: 3px solid #000000;
	overflow-y: scroll;
}

#albums div {
	padding: 5px;	
}

#mycanvas {	
	width: 100%;
	
	margin-top: 30px;
}

#separate_line {
	margin-left: 280px;
	border-right: 1px dashed #ff0000;
	width: 600px;
	height: 600px;
}
#mycanvas_base {
	
	border: 1px solid #cccccc;
	width: 1200px;
	height: 600px;
	box-shadow: 10px 10px 5px #888888;
	
}

#pages {
	margin-left: 280px;
}
#pages div {
	padding-top: 20px;	
}

#left_menu span {
	padding: 2px;
	border: 1px solid #ffffff;
	background-color: #cccccc;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}
#photos_page img.img_dragging {
    opacity: 0.4;
}

#text_page {
    color:#ffffff;
}

.separate_line {
    border-bottom: 1px dotted #ffffff;
}

input, textarea {
    border: 1px solid #cccccc;
    padding:2px;
}